.ItemsSection {
	width: 50%;
}

.Items {
	width: 90%;
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.ItemsInputWrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.ItemsInput {
	display: flex;
	flex-direction: column;
	text-align: left;
}

.Input {
	width: 100%;
	border: none;
	height: 30px;
}

.ItemsContainer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.ItemsInputContainer {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
}

.ItemInfo {
	display: flex;
	flex-direction: column;
	justify-content: left;
	padding-left: 10px;
	gap: 5px;
}

.ItemImage {
	background-color: #F9E6C2;
	height: 60%;
	width: 90%;
	margin: 10px auto;
}

.ItemWrapper {
	width: 220px;
	height: 280px;
	background-color: #FFFFFF;
}

.InputSecondary {
	width: 100%;
	border: none;
	height: 30px;
}

.ItemsContainer {
	background-color: #F6F6F8;
}

.InputSecondaryWrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.ItemName {
	font-weight: 800;
	width: fit-content;
	font-size: 0.9em;
}

.ItemBrand {
	opacity: 0.5;
	width: fit-content;
	font-size: 0.8em;
}

.ItemPrice {
	background-color: #F0F0F2;
	font-size: 0.8em;
	text-align: left;
	padding: 5px 10px;
	width: fit-content;
}

.ItemsInputText {
	opacity: 0.5;
	font-size: 0.7em;
}