.DealWrapper{
	width: 50%;
}

.Deal{
	width: 90%;
}

.SpinnerWrapper{
	width: 200%;
	height: 200px;
	background-color: black;
}

.DealButton{
	background-color: #3D9D43;
	border: none;
	padding: 10px 40px;
	font-size: 0.8em;
	color: #FFF;
	font-weight: 600;
}

.RefreshButton{
	background-color: #3D789D;
}

.ChanceWrapper{
	background-color: #F6F6F8;
	width: 100%;
}