.circleProgress {
	display: block;
	margin: 0 auto;
	background-color: CFE7D7;
}

.circleBackground {
	fill: none;
	stroke: #e6e6e6;
	stroke-width: 20;
}

.circleProgressBar {
	fill: none;
	stroke: #3D9D43;
	stroke-width: 20;
	stroke-linecap: round;
	stroke-dasharray: 0;
}